@page "/"
@inject IConfiguration Config

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p class="h4">
    Default con: @defaultCon

</p>

@code {
    private string defaultCon = "";

    protected override void OnInitialized()
    {
        defaultCon = Config.GetConnectionString("SupabaseConnectionString") ?? "unknown";
    }
}