
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="NezChu.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- Bootstrap CSS (you can set the Bootstrap flavor with a parameter) -->
    @((MarkupString)HxSetup.RenderBootstrapCssReference())
    <!-- Default values for additional CSS Variables (+ import Bootstrap Icons) -->
    <link href="_content/Havit.Blazor.Components.Web.Bootstrap/defaults.css" rel="stylesheet" />
    <!-- Blazor CSS Isolation -->
    <link href="Your.Blazor.Project.Assembly.Name.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    @((MarkupString)HxSetup.RenderBootstrapJavaScriptReference())
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
